.loadingView {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);

  .loadingView__message,
  .loadingView__icon {
    margin: 20px;
    text-align: center;
    font-size: 40px;
    color: black;

    @media (min-width: 768px) {
      font-size: 55px;
    }
  }

  .loadingView__icon {
    animation: rotate 1.2s infinite linear both;

    @keyframes rotate {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
