.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 0, 0, 0.7);

  .errorPage__message {
    margin: 20px;
    text-align: center;
    font-size: 40px;
    color: white;

    @media (min-width: 768px) {
      font-size: 55px;
    }
  }
}
