.settings {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;

  .settings__wrapper {
    width: 100%;
    height: 100%;
    text-align: center;

    .settings__title {
      margin-top: 15px;
      font-size: 30px;

      @media (min-width: 768px) {
        font-size: 37px;
      }
    }

    .settings__wrapperAddTown {
      display: flex;
      flex-direction: column;

      .settings__input {
        width: 85%;
        margin: 20px auto;
        padding: 5px;
        outline: none;
        background-color: #ddd;
        border: none;
        border-bottom: 2px solid black;
        font-size: 15px;

        @media (min-width: 768px) {
          width: 50%;
          font-size: 20px;
        }
      }
      .settings__btn {
        width: 60%;
        margin: 0 auto;
        padding: 5px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        outline: none;

        @media (min-width: 768px) {
          width: 40%;
          font-size: 21px;
        }
        @media (min-width: 1024px) {
          cursor: pointer;
        }
      }
      .settings__checkLabel {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        font-size: 16px;

        @media (min-width: 411px) {
          font-size: 17px;
        }

        @media (min-width: 768px) {
          font-size: 20px;
        }

        .settings__check {
          margin: 10px 5px;
          width: 20px;
          height: 20px;

          @media (min-width: 768px) {
            width: 23px;
            height: 23px;
          }
          @media (min-width: 1024px) {
            cursor: pointer;
          }
        }
      }
    }

    .settings__wrapperFavouriteList {
      min-height: 80vh;
      padding: 15px 5px 20px;

      .settings__favouriteTitle {
        font-size: 25px;

        @media (min-width: 768px) {
          font-size: 33px;
        }
      }

      .settings__favouriteList {
        list-style: none;

        .settings__listItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          overflow: hidden;

          width: 100%;
          margin: 12px 0;
          background-color: rgba(90, 90, 90, 0.63);
          border-radius: 10px;

          @media (min-width: 768px) {
            width: 60%;
            margin: 15px auto;
          }

          @media (min-width: 1280px) {
            width: 50%;
          }
          @media (min-width: 1600px) {
            width: 40%;
          }

          .settings__wrapperIconName {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .settings__homeIcon {
              color: yellowgreen;
              font-size: 25px;
              margin: 5px 0 5px 10px;

              @media (min-width: 768px) {
                font-size: 30px;
              }
            }

            .settings__homeIcon--disabled {
              opacity: 0;
            }

            .settings__townName {
              text-align: left;
              padding-left: 8px;
              flex-grow: 1;
              font-size: 15px;
              font-weight: bold;
              color: white;

              @media (min-width: 411px) {
                font-size: 17px;
              }

              @media (min-width: 768px) {
                font-size: 21px;
              }
            }

            .settings__trashIcon {
              color: darkred;
              font-size: 25px;
              margin: 5px 10px 5px 0;

              @media (min-width: 768px) {
                font-size: 30px;
              }
              @media (min-width: 1024px) {
                cursor: pointer;
              }
            }
          }
          .settings__wrapperBtn {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-bottom: 5px;

            .settings__btn {
              padding: 3px 5px;
              margin: 5px 0;
              font-size: 12px;
              text-transform: uppercase;
              border: none;
              border-radius: 5px;
              background-color: #ddd;
              color: black;
              border-bottom: 2px solid black;
              outline: none;

              @media (min-width: 411px) {
                font-size: 14px;
              }

              @media (min-width: 768px) {
                margin: 10px 0;
                font-size: 17px;
              }
              @media (min-width: 1024px) {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .settings__close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 40px;

      @media (min-width: 768px) {
        top: 20px;
        right: 20px;
        font-size: 50px;
      }
      @media (min-width: 1024px) {
        cursor: pointer;
      }
    }

    .settings__author {
      padding: 0 5px 10px;

      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #aaa;
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 10px;
}
